*{

}

h1 {
    font-size: 90px;
    border: 2px solid rgb(64, 72, 190);
    color: red;
    border-radius: 10%;

}

#tituloPrincipal {
    font-size: 40px;
    color: aqua;



}
/* p {
    border: 1px solid red;
} */

.parrafo {
    font-size: 20px;
    border: 3px dotted blue;
    border-radius: 20px;

}

#primerParrafo {
    border: 1px solid green;
}

/* (identificador)padre -> (identificador)hijo */
#primerParrafo .str { 
    color: brown;
}
#div1{
    border: 5px groove red;
}

#div1 > p {
    color: green;
}
#div1 > div{
    border: 3px solid yellow;
}
h3.tituloH2 {
    color: black;
}

input[type="number"] {
    width: 550px;

}

input[name="inputPassword"]{
    padding: 10px;
}

img:hover{
    border: 2px solid green;

}
/*  */
#div1 , p { 

}

/* color */
ul{
    background-color: rgb(3,5,234);
    color: #fff000;

}
/* texto */
#pejemplo{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: ;
}

/* tamaño */
#pejemplo{
    width: 500px;
    height: 500px;
    overflow: hidden;/*scroll*/
}
/* bacjkground */
